@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700;900&family=Rubik:wght@500&display=swap";
@import "https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&family=Roboto:wght@100;500;700;900&family=Rubik:wght@500&display=swap";
body, html {
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
}
html {
    scroll-behavior: smooth;
  }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
}
h1 {
    font-size: 42px;
}
.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 15px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.container {
  min-height: 100vh;
  min-width: 100%;
  background: url(images/bg.jpg) no-repeat;
  background-size: contain;
  
}
 
.flex-home, .flex-about {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
    width: 1024px;
    margin: 0 auto;
    padding-top: 75px;
}
.flex-home > div{
    width: 50%;
    height: 100%;
}
.flex-about > div {
    text-align: center;
}
.profile-div {
    text-align: center;
}
.profile-img {
    width: 90%;
    border: 10px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 4px;
}
.linked-in-img {
    width: 22px;
} 

.arrow-img {
    width: 20px;
    transform: rotate(224deg);
    margin: 0 0 0;
    position: relative;
    top: 4px;
}

/* CSS */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}
